h3 {
  font-size: 19px;
  text-align: center;
  color: #fdc300;
}

.Users {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(170px, 1fr));
  grid-gap: 20px 30px;
}

body{
  background-color: #202020;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}

img {
  width: 170px;
  border-radius: 100%;
}

.banner {
  border-radius: 8px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}