h3 {
  font-size: 19px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #f9c115;
}

.Users {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
  grid-gap: 20px 30px;
}

body{
  background-color: rgb(32, 32, 32);
}
a {
  text-decoration: none;
}

img {
  width: 170px;
  border-radius: 3px;
}